<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Docker and Flask Demo</title>
	<style>
		body {
			background-image: url("https://source.unsplash.com/1600x900/?white,nature,cloud")
		}
	</style>
</head>

<body class="wrap-box">
	<h1>Welcome to CSC4160 Cloud Computing</h1>
	<table>
		<tr>
			<td> Launch at </td>
			<td> {{launch_at}} </td>
		</tr>
		<tr>
			<td> Hostname </td>
			<td> {{Hostname}}</td>
		</tr>
		<tr>
			<td> Local Address </td>
			<td> {{localaddress}} </td>
		</tr>
		<tr>
			<td> Remote Address </td>
			<td> {{remote_addr}} </td>
		</tr>
		<tr>
			<td> Visitors </td>
			<td> {{visitor_addrs}} </td>
		</tr>
		<tr>
			<td> Server Hit </td>
			<td> {{hits}} </td>
		</tr>
	</table>
	<span> Created with ♥ for demonstration in Cloud Computing Course. Background image from <a
			href="https://unsplash.com/">Unsplash</a>. </span>

</body>

</html>